<title>Locations</title>
<!-- Table responsive wrapper -->
<div class="overflow-x-auto bg-gradient-to-b from-gray-200 to-gray-400 dark:bg-neutral-700 h-full px-4">
    <!-- Search input -->
    <div class="flex justify-between items-center p-4">
        <div>
            <label for="inputSearch" class="sr-only">Search</label>
            <input id="inputSearch" type="text" placeholder="&#128269; Search..."
                   class="block w-64 rounded-lg border dark:border-none dark:bg-neutral-600 py-2 px-4 text-sm focus:outline-none focus:ring-4 focus:ring-red-700"/>
        </div>
        <h1 class="text-center font-medium">Dealer Locations</h1>
    </div>
    <!-- Table -->
    <table class="rounded-lg min-w-full text-left text-sm whitespace-nowrap overflow-y-scroll bg-gray-100">
        <!-- Table head -->
        <thead class="rounded-lg uppercase tracking-wider sticky top-0 text-white bg-zinc-700 shadow-md">
        <tr class="rounded-lg px-2">
            <th scope="col" class="rounded-l-lg p-2">
                Dealer
            </th>
            <th scope="col" class="p-2">
                Branch Name
            </th>
            <th scope="col" class="p-2">
                City
            </th>
            <th scope="col" class="p-2">
                State
            </th>
            <th scope="col" class="p-2 rounded-r-lg">
                Fleet Support Rep
            </th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody class="rounded-md">
        <tr class="border-b dark:border-neutral-600">
            <th scope="row" class="p-2">
                Rihm Kenworth
            </th>
            <td class="p-2">Rihm Kenworth South St. Paul</td>
            <td class="p-2">South St. Paul</td>
            <td class="p-2">MN</td>
            <td class="p-2">Nick Latcham</td>
        </tr>
        </tbody>
    </table>
</div>