<!DOCTYPE html>
<html lang="en">
{{ template "base-head" . }}
<body class="flex flex-col h-screen max-w-screen justify-between" hx-history-elt>
<header class="text-center py-4 px-4 text-white bg-zinc-700 drop-shadow-md">
    <a href="/login" class="lg:text-3xl text-2xl"><span class="text-red-700">Kenworth Dealer</span> Fleet Services</a>
</header>
<main class="flex justify-center items-center" >
    <div class="my-0 mx-auto text-white p-4 bg-zinc-700 rounded-md drop-shadow-md w-9/12 max-w-96">
        <form action="" method="post" class="flex flex-col justify-between lg:text-xl text-base">
            <label for="username">Username:</label><input type="text" name="username" id="username" required
                                                          class="rounded text-black p-2 ">
            <label for="password" class="py-1">Password:</label><input type="password" name="password" id="password"
                                                                       required class="rounded text-black p-2 ">
            <button type="submit" class="text-center mt-4 p-2 font-semibold bg-red-700 rounded-md">Log In</button>
        </form>
    </div>
</main>
{{ template "footer" }}
</body>
</html>