{{ define "header" }}
<header class="flex justify-between items-center py-4 px-6 bg-neutral-900 text-white shadow-lg">
    <a href="/" class="md:text-2xl sm:text-xl text-center font-semibold drop-shadow-md"><span
            class="text-red-700 ">Kenworth Dealer</span> Fleet Services</a>
    <nav aria-label="Global">
        <ul class="flex md:text-lg space-x-4">
            <li>
                <button hx-get="/api/dealers" hx-push-url="/dealers" hx-target="#content" >Dealers</button>
            </li>
            <li>
                <button hx-get="/api/locations" hx-push-url="/locations" hx-target="#content">Locations</button>
            </li>
            <li>
                <button hx-get="/api/customers" hx-push-url="/customers" hx-target="#content">Customers</button>
            </li>
            <li class="px-2 bg-red-700 rounded-md shadow-md text-base"><a href="/login">Logout</a></li>
        </ul>
    </nav>
</header>
{{end}}